<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>DreamQuest Travels</title>
</head>
<body>
      
      <header> 
        <!-- {% block header %} -->
        <nav>
            <div class="logo">
                {% load static %}
                <img src="{% static 'image/logo.png'  %}">
            </div>
            
          <ul>
            <li><a href="#Home">Home</a></li>
            <li><a href="{% url 'group' %}">Group Tours</a></li>
           <div class="dropdown">
            <li><a href="#">Packages</a>
            <div class="drop">
              <a href="{% url 'indian' %}">Indian Tour Package</a>
              <a href="#">International</a>
              <a href="#">Europe Tour Package</a>
              <a href="#">Educational Tour Package</a>
              <a href="#">HoneyMoon Package</a>
            </div>
           </div>
            </li>
            <li><a href="#Honymoon">HoneyMoon</a></li>
            <li><a href="#Wedding">Wedding</a></li>
            <li><a href="#contact us">contact us</a></li>
          </ul>
        </nav>
      </header>
      
      <!-- {% endblock %} -->
       

            <!-- home -->
    <section class="home">


      <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
        </div>
        
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'image/london1.jpg'  %}" alt="" style="width:100%">
            <div class="carousel-caption">
              <h3>Los Angeles</h3>
              <p>We had such a great time in LA!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'image/two.avif'  %}" alt="" style="width:100%">
            <div class="carousel-caption">
              <h3>Chicago</h3>
              <p>Thank you, Chicago!</p>
            </div> 
          </div>
          <div class="carousel-item">
            <img src="{% static 'image/three.avif'  %}" alt="" style="width:100%">
            <div class="carousel-caption">
              <h3>New York</h3>
              <p>We love the Big Apple!</p>
            </div>  
          </div>
          <div class="carousel-item">
            <img src="{% static 'image/four.avif'  %}" alt="" style="width:100%">
            <div class="carousel-caption">
              <h3>New York</h3>
              <p>We love the Big Apple!</p>
            </div>  
          </div>
          <div class="carousel-item">
            <img src="{% static 'image/five.avif'  %}" alt="" style="width:100%">
            <div class="carousel-caption">
              <h3>New York</h3>
              <p>We love the Big Apple!</p>
            </div>  
          </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </section>
             
    
    
             <!-- next -->
    <section>
    <h2>Popular Package</h2>
    <div class="group">
        
          <div class="one">
             <h3>Indian Tour Package</h3>
            <button><a href="{% url 'indian' %}">98tours</a></button>
    
          </div>

          <div class="two">
            <h3>International</h3>
            <button>362tours</button>
          </div>

          <div class="three">
            <h3>Europe Tour Package</h3>
            <button>144tours</button>
          </div>

          <div class="four">
            <h3>Educational Tour Package</h3>
            <button>15tours</button>
          </div>

          <div class="five">
            <h3>HoneyMoon Package</h3>
            <button>18tours</button>
          </div>
    </div>
  </section>
              <!-- next -->

  <section class="mation">
    <div class="detail">
      <img src="{% static 'image/family1.avif'  %}" alt="">
      <P>20,000+<br>
         Abroad Excursions<br>
         For the last 10 years, GT Occasions have coordinated in excess of 20,000 global agendas</P>
     </div>
     <div class="detail">
      <img src="{% static 'image/location.1.avif'  %}" alt="">
      <P>
        High quality<br>
        Encounters<br>
        Every single schedule is tweaked by the flavor of the clients.
      </P>
     </div>
     <div class="detail">
      <img src="{% static 'image/traveller.jpg'  %}" alt="">
      <p>
        Incredibly Cheerful<br>
        Explorers<br>
        DreamQuest Travels Occasions holds record of extraordinary consumer loyalty and all clients are held with us.
      </p>
     </div>
  </section>

        <!-- next -->

  <section>
    <div class="se"><p>Welcome to DreamQuest Travels</p></div>
    <div class="pa">
      <p>DreamQuest Travels is a unique travel company that offers adventurous and immersive journeys tailored to the curious explorer. Unlike conventional tours, DreamQuest Travels invites you to dive deep into the culture, history, and landscapes of each destination, crafting experiences that leave you with lasting memories and new perspectives. Whether you're looking for a serene retreat in a remote corner of the world, an action-packed adventure in the wild, or an immersive cultural journey through ancient cities, DreamQuest curates every trip to be a personal journey of discovery.
        With a dedicated team of expert travel guides, cultural liaisons, and local artisans, DreamQuest provides a seamless and enriching travel experience. Each itinerary is designed to maximize authentic encounters, allowing you to engage with local communities, taste regional flavors, and participate in cultural traditions. This approach enables travelers to connect with destinations on a deeper level, gaining insight into the lives of people, the beauty of the natural world, and the rhythm of diverse cultures.
        DreamQuest Travels emphasizes sustainable and responsible travel, prioritizing eco-friendly accommodations and low-impact activities that benefit local economies. Each journey is crafted with the environment in mind, ensuring that travelers leave only positive impacts on the places they visit.
        Whether your a solo traveler, part of a group, or looking for a family-friendly adventure, DreamQuest Travels offers customized packages to suit all preferences. The team’s commitment to excellence, combined with a passion for exploration, ensures that every journey is a blend of comfort, adventure, and inspiration. With DreamQuest, your travel experience becomes more than just a trip; it becomes a transformative journey that enriches your mind, body, and soul. So pack your bags, embrace the unknown, and embark on your next adventure with DreamQuest Travels.</p>
    </div>
  </section>

       <!-- next -->

       <section>
        <div class="tre">
          <p>Trending Tours</p>
        </div>
      <div class="fam">
        <!-- {% if data%}
        {% for objects in data %}
          <img src={{objects.i_1.url}} alt="">
          {{name}}
        {% endfor %}
        {% else %}
        <p>data was not get</p>
        {% endif %} -->
        <div class="ding">
          <figure><img src="{% static 'image/melbo.avif'  %}" alt=""></figure><br>
          <p><i class="fa-solid fa-location-dot"></i> australia -melbourne<br>
            australia tour package<br>
            <span><i class="fa-regular fa-clock"></i>&nbsp 3 Nights 4 Days</span></p>
        </div>
        <div class="ding">
          <img src="{% static 'image/china.avif'  %}" alt="">
          <p><i class="fa-solid fa-location-dot"></i> china -forbiden city<br>
          china tour package<br>
          <span><i class="fa-regular fa-clock"></i>&nbsp5 Nights 6 Days</span></p>
        </div>
        <div class="ding">
          <img src="{% static 'image/london.jpg'  %}" alt="">
          <p><i class="fa-solid fa-location-dot"></i> London tour package<br>
            <span><i class="fa-regular fa-clock"></i>&nbsp3 Nights 4 Days</span></p>
        </div>
        <div class="ding">
          <img src="{% static 'image/goa.avif'  %}" alt="">
          <p><i class="fa-solid fa-location-dot"></i> Goa tour package<br>
          <span><i class="fa-regular fa-clock"></i>3 Nights 4 Days</span></p>
        </div>
      </div>
       </section>

              <!-- next -->
      <section>
       <div class="contact">
        <div class="con">
          <P>Stay in Contact<br>
            <i class="fa-solid fa-phone"></i><br>
            +91 9025463652<br>
            <i class="fa-solid fa-square-envelope"></i><br>
            DreamQuest@gmail.com</P>
        </div>
        <div class="book">
          <p>"Lock In Your Dream Vacation Today!"</p>

          <form class="for">
            <input type="text"  class="field" placeholder="name *" required><br>
            <input type="text" class="field" placeholder="City of residence *" required><br>
            <input type="text" class="field" placeholder="Email *"required ><br>
            <input type="number" class="field" placeholder="Phone Number *" required><br>
            <input type="number" class="field" placeholder="WhatsApp Number" required><br>
            <input type="text" class="field" placeholder="Travel Destination" required><br>
            <input type="date" class="field" placeholder="Date of Travel *" required><br>
            <input type="number" class="field" placeholder="No.of People *" required><br>
            <select name="Vacation Type *" placeholder="Vacation Type"  class="field" required>
              <option value="Friends Trip">Friends Trip</option>
              <option value="Family Trip">Family Trip</option>
              <option value="Corporate">Corporate</option>
              <option value="HoneyMoon">HoneyMoon</option>
            </select><br>
            <!-- <input list="value">
            <datalist class="field" id="value">
              <option value="Friends Trip"></option>
              <option value="Family Trip"></option>
              <option value="Corporate"></option>
              <option value="HoneyMoon"></option>
            </datalist> -->

            <button class="button">Submit</button>

          </form>
        </div>
      </div>
      </section>
      <footer>
       <div class="foot">
        <div class="foo">
          <p><span>Corporate Office<br></span>
             DreamQuest Pvt LTD,<br>
            Novel Tech Park,<br>
            Opposite to 1 MG Mall,<br>
            MG Road, Bangalore – 560042<br>
            Karnataka, India.</p><br>
        </div>
        <div class="foo">
          <p><span>Head Office<br></span>
            DreamQuest Pvt LTD,<br>
            No.1, Gemini Parsn,<br>
            Kodambakkam High Road,<br>
            Nungambakkam, Chennai – 600006<br>
            Tamilnadu, India.</p><br>
        </div>
        <div class="foo">
          <p><span>Our Branches</span><br>
            Mumbai<br>
            Hyderabad<br>
            Bangalore<br>
            Chennai<br>
            Coimbatore<br>
            Erode<br>
            Madurai<br>
            Trichy<br>
            Salem<br>
            Kochi<br>
            Vellore<br>
            Pondicherry<br>
            Nagercoil<br>
            Kanyakumari</p><br>
        </div>
      </div>
      </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>